.container{
    height: 500px;
    width: 310px;
    border-radius: 6%;
    background-color: rgb(18, 18, 34);
    text-align: centers;
    margin-left: 34%;
}
.admin-heading{
    display: inline-block;
    margin-left: 55px;
    color: white;
    font-family: arial;
}
label{
    color: white;
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
}
.Uinput{
    margin-left: 40px;
    margin-top: 40px;
}
input{
    height: 25px;
    width: 200px;
}
.sub{
    margin-top: 30px;
    color: black;
    font-weight: bold;
    background-color: rgb(159, 94, 219);
    width: 100px;
    margin-left: 55px;
}
.sub:hover{
    opacity: 0.75;
    cursor: pointer;
}
.Otherlogin{
    margin-left: 10px;
    margin-top: 50px;
    width: 170px;
    display: inline-block;
}
.Otherlogin:hover{
 cursor: pointer;
 background-color: rgb(186, 200, 206);
}
.Register{
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color: rgb(11, 47, 63);
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 97px;
    transition: opacity 0.75s;
}
.Register:hover{
    cursor: pointer;
 background-color: rgb(38, 83, 102);
}
.without{
    margin-left: 100px;
    margin-top: 36px;
    width: 70px;
    display: block;
    padding-left: 20px;
    background-color: darkgreen;
}
.without:hover{

    cursor: pointer;
    background-color: rgb(50, 134, 50) ;
}